<h1 class="logo-primary">Health Olympix</h1>

<section id="thanks" class="thanks">
  <aside class="thanks-card">
    <span class="close" ng-click="removeClass();"></span>

    <h2 class="title-primary text-thanks">{{ message }}</h2>

    <button class="btn-login facebook" ng-click="removeClass();"> Facebook </button>
    <button class="btn-login google" ng-click="removeClass();"> Google </button>

    <div class="card-tips">
      <h3 class="title-primary text-thanks">Health tips:</h3>
      
      <figure>
        <img src="images/health-tip.png" height="442" width="514" alt="">
      </figure>

    </div>
  </aside>
</section>